[submodule "VWolf/vendor/GLFW"]
	path = VWolf/vendor/GLFW
	url = git@github.com:werewolf2188/glfw.git
[submodule "VWolf/vendor/imgui"]
	path = VWolf/vendor/imgui
	url = git@github.com:werewolf2188/imgui.git
	branch = docking
[submodule "VWolf/vendor/glm"]
	path = VWolf/vendor/glm
	url = git@github.com:werewolf2188/glm.git
[submodule "VWolf/vendor/entt"]
	path = VWolf/vendor/entt
	url = git@github.com:werewolf2188/entt.git
[submodule "VWolf/vendor/imguizmo"]
	path = VWolf/vendor/imguizmo
	url = git@github.com:werewolf2188/ImGuizmo.git
[submodule "VWolf/vendor/yaml_cpp"]
	path = VWolf/vendor/yaml_cpp
	url = git@github.com:werewolf2188/yaml-cpp.git
[submodule "VWolf/vendor/reactphysics3d"]
	path = VWolf/vendor/reactphysics3d
	url = git@github.com:werewolf2188/reactphysics3d.git
