[submodule "VWolf/vendor/GLFW"]
	path = VWolf/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "VWolf/vendor/imgui"]
	path = VWolf/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "VWolf/vendor/glm"]
	path = VWolf/vendor/glm
	url = https://github.com/g-truc/glm.git
